#nav-bar
{
  position: sticky;
  top: 0;
  z-index: 10;
}
.navbar
{
  background-image: linear-gradient(to right, #c6c6c7, #2e2c2e);
}
.navbar-nav li
{
  padding: 5 10px;
}
.navbar-nav li a
{
  color:#fff !important;
  font-weight: 350;
  float: right;
  text-align: left;
}
.fa-bars
{
  color: #fff ;
  font-size: 25px !important;
}
.navbar-toggler
{
  outline: none !important;
}


#banner
{
  background-color: #e6e6ee;
  color: #3b393b;
  padding: 9.6%;
}
.Promo-title
{
  font-size: 40px;
  font-weight: 300;
  margin-top: 20%;
}
#banner a
{
  color: #fff;
  text-decoration: none;
}
.cover
{
  width: 450px;
  height: 300px;
  margin-top: 0px;
}
#types
{
  padding: 50px 0;
}
.wild
{
  width: 330px;
  height: 230px;
  margin-top: 0px;
}
.night
{
    width: 330px;
    height: 230px;
    margin-top: 0px;
}
.port
{
    width: 330px;
    height: 230px;
    margin-top: 0px;
}

#footer
{
  background-color: #dbdadb;
  margin-top: -50px;
}
.footer-box
{
  padding: 20px;
}