<html>
<head>
    <title>Homepage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" >
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"> </script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" >
</head>

<body>

<section id="nav-bar">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#"> <b> SV KAMATH PHOTOGRAPHY </b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Gallery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>

            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact Us</a>
            </li>
          </ul>
        </div>
    </nav>
</section>

<section id="banner">
    <div class="container">
    <div class="row">
        <div class="col-md-6">
            <center>
            <p class="promo-title"> <h2><u> COME, SHINE WITH US! </u></h2></p>
            <p> <h6>- Capture something more real than reality -</h6> </p>
            - Photography classes - </br> </br>
            </center>
        </div>
        <div class="col-md-6 text-center" >
            <img src="{{ url_for('static', filename='images/cover.jpeg')}}" class="cover">
        </div>
    </div>    
    </div> 
</section>

<section id="types">
    <div class="container">
    <div class="row">
    <div class="col-md-4">
        <center>
        <img src="{{ url_for('static', filename='images/wildlife.jpeg')}}" class="wild">        
        <h3>WILDLIFE</h3> </center> </br>
    </div>
    <div class="col-md-4">
        <center> 
        <img src="{{ url_for('static', filename='images/nightscapes.jpeg')}}" class="night">        
        <h3>NIGHTSCAPES</h3> </center></br>
    </div>
    <div class="col-md-4">
        <center>
        <img src="{{ url_for('static', filename='images/portrait.JPG')}}" class="port">         
        <h3>PORTRAITS </h3> </center></br>
    </div>
    </div>
    </div>
</section>

<section id="footer">
    <div class="container">
    <div class="row">
        
        <div class="col-md-3 footer-box">
        <center>
        <p><b><u>SERVICES</u></b></p>
        Portraits</br>
        Pre-Wedding</br>
        Maternity</br>
        Birthday</br>
        Family</br>
        Product</br>
        Sports</br>
        </center>
        </div>

        <div class="col-md-3 footer-box">
        <center>
        <p><b><u>ENQUIRE</u></b></p>
        <a href="mailto:sumanth.v.kamath@gmail.com">Gmail</a> </br>
        <a href="https://www.instagram.com/sv_kamath/">Instagram</a></br>
        <a href="https://www.facebook.com/sumanthkamathv">Facebook</a></br>
        <a href="https://wa.me/+918197002765">Whatsapp</a></br></br>
        </center>
        </div>

        <div class="col-md-3 footer-box">
        <center>
        <p><b><u>SHOOT WITH US</u></b></p>
        Photowalk</br>
        Birding</br>
        Nature &amp; Wildlife</br>
        Macro</br>
        Travel</br>
        </center>
        </div>

        <div class="col-md-3 footer-box">
        <center>
        <p><b><u>COMPANY</u></b></p>
        About</br>
        Store</br>
        Terms</br>
        Career</br>
        </center>
        </div>

    </div>
    </div>
</section>

</body>
</html>